# Dependências (Pesado, não subir!)
node_modules/
*/node_modules/

# Logs e arquivos de sistema
*.log
.DS_Store
Thumbs.db

# Arquivos de ambiente e cache do Firebase
.firebase/
firebase-debug.log*
ui-debug.log*
