body, html {
    font-family: 'Inter', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111827; /* bg-gray-900 */
}

/* Estilo para a tela verde de alerta (RF003) */
#ready-alert {
    position: fixed;
    inset: 0;
    background-color: #10B981; /* bg-emerald-500 */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    text-align: center;
}

/* Estilo para o container de anúncios (RF005) */
#ad-container img,
#ad-container video {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Garante que o anúncio caiba na tela */
}