body, html {
    font-family: 'Inter', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f4f6; /* bg-gray-100 */
}

/* Estilo para a tela verde de alerta (RF003) */
#ready-alert {
    position: fixed;
    inset: 0;
    background-color: #10B981; /* bg-emerald-500 */
    color: white;    
    /* display: flex; */ /* REMOVIDO: Esta linha causa a sobreposição da tela verde */
    justify-content: center;
    align-items: center;
    z-index: 100;
    text-align: center;
    /* A propriedade 'display' foi removida daqui para respeitar a classe 'hidden' do HTML */
}

/* Estilo para o container de anúncios (RF005) */
#ad-container img,
#ad-container video {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Garante que o anúncio caiba na tela */
}

/* NOVO: Esconde a barra de rolagem da lista de serviços */
#service-list {
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;  /* Firefox */
}
#service-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}